<!-- <div class="container">

  <ul>
    <li ngFor></li>
  </ul>


    <tr *ngFor="let brew of brews">
    <td >{{brew.id}}</td>
    <td>  --  </td>
    <td *ngIf="brew.brewery_type==='micro'">{{brew.name}}</td>

  </tr> -->




  <h1>Players Marketplace</h1>


  <!-- <tr *ngFor="let player of Ballers">
    <td > {{player.id}}</td>
    <td>  </td>
    <td>{{player.name}}!!.  </td>
    <td>Age: {{player.age}} </td>
    <td>Value: {{player.value}}</td><br/>
  </tr> -->

  <!-- <ul *ngFor="let player of Ballers">
    <li > {{player.id}}</li>

    <li>{{player.name}}!!.  </li>
    <li>Age: {{player.age}} </li>
    <li>Value: {{player.value}}</li><br/>
  </ul> -->

  <!-- <ul *ngFor="let player of Ballers">
    <li>
    <p class="name">{{player.name}}</p>
    <p class="position">{{player.position}}</p>
    <p class="value">£{{player.value}} m</p>
      </li>
  </ul> -->
<!--
  <tr *ngFor="let player of Ballers">
    <td> <p class="name">{{player.name}}</p> <br></td>
    <td> <p class="position">{{player.position}}</p> </td>
    <td> <p class="value">£{{player.value}} m</p> </td>
  </tr> -->





<ul *ngIf="Ballers">
  <li *ngFor="let player of Ballers">
    <p class="name">{{player.name}}</p>
    <p class="position">{{player.position}}</p>
    <p class="value">£{{player.value}} m</p>
    <!-- <a href="{{ player.website_url }}" class="site">site</a> -->
  </li>
</ul>

