<!-- <div class="container">

  <ul>
    <li ngFor></li>
  </ul>


    <tr *ngFor="let brew of brews">
    <td >{{brew.id}}</td>
    <td>  --  </td>
    <td *ngIf="brew.brewery_type==='micro'">{{brew.name}}</td>

  </tr> -->







  <!-- <tr *ngFor="let player of Ballers">
    <td > {{player.id}}</td>
    <td>  </td>
    <td>{{player.name}}!!.  </td>
    <td>Age: {{player.age}} </td>
    <td>Value: {{player.value}}</td><br/>
  </tr> -->

  <!-- <ul *ngFor="let player of Ballers">
    <li > {{player.id}}</li>

    <li>{{player.name}}!!.  </li>
    <li>Age: {{player.age}} </li>
    <li>Value: {{player.value}}</li><br/>
  </ul> -->

  <!-- <ul *ngFor="let player of Ballers">
    <li>
    <p class="name">{{player.name}}</p>
    <p class="position">{{player.position}}</p>
    <p class="value">£{{player.value}} m</p>
      </li>
  </ul> -->
<!--
  <tr *ngFor="let player of Ballers">
    <td> <p class="name">{{player.name}}</p> <br></td>
    <td> <p class="position">{{player.position}}</p> </td>
    <td> <p class="value">£{{player.value}} m</p> </td>
  </tr> -->

  <div class="container">
  <h2>Players Marketplace</h2>

<div class="threeQuarterPage">
<ul class="ol1"  *ngIf="Ballers">
  <li *ngFor="let player of Ballers">
    <p class="name">{{player.pName}}</p>
    <p class="position">{{player.fPosition}}</p>
    <p class="value">£{{player.mvalue}} m</p>
    <button class="buyButton" on-click="buyThisPlayer(player)">Add to Squad</button>
  </li>
  </ul>
</div>






<div class="personalTeam">
<h3>My Personal Team</h3>
<form>
       <ul *ngFor="let picked of selectedPlayers">

        <li>  {{picked.pName}}   </li>

        </ul>


<!-- <div class="teamPrice"> -->
  <p>Total Team Spend: {{this.teamCost}} m</p>
<!-- </div> -->
<button type="button" href="localhost/8080/newteam">Save this as my Team
</button>
</form>

</div>
</div>
