.threeQuarterPage {
  border-left: 1%;
  width: 78%;
  float: left;
  border-radius: 20px;
}

ol li {
  background-color: coral;
}
// .personalTeam {
//   border: 1px solid green;
//   width: 20%;
//   float: right;
//   margin-right: 1%;
// }
ul {
  list-style-type: none;
}

.ol1 {
  list-style-type: none;
  //list-style-type: decimal;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

 li {
    background: rgb(238, 238, 238);
    padding: 1em;
    margin-right: 10px;
    width: 20%;
    height: 100px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    p.name {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 1.2rem;
      text-align: center;
    }
    p.position {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
    }
    p.value{
      text-transform: uppercase;
      font-size: 1.5rem;
      flex-grow: 1;
      text-align: center;
    }
  }


 }
