<!-- by jk 05/11/19 -->

<header>
  <!-- <div class="image"> -->
  <!-- <div class="container" > -->
    <div>
    <a href="#" class="logo">Football Manager 2020</a>

    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/team">My Team</a></li>
        <li><a href="#" routerLink="/players">Footballers</a></li>
        <li><a href="#" routerLink="/reviews">Players Reviews</a></li>
      </ul>
    </nav>
  <!-- </div> -->
</div>

</header>

<div class="container" class="image">
  <router-outlet></router-outlet>
</div>

