<!-- <body>
<div class="section vs-section">

  <div>Nested 1</div>
  <div>Nested 2</div>

</div>



</body>> -->


<div class="container color-dark">
  <div class="col">
    <p>Add a Player Review</p>
  </div>
  <div class="col">
    <p>Your Reviewed Players</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Enter your player review(50 word max)</p>
    <form>
      <!-- <input type="textarea" class="txt" name="item" placeholder="Book/ Article"> -->
      <textarea class="txtarea">Enter Review</textarea>
      <input type="submit" class="btn" value="Submit Review">
    </form>
  </div>
  <div class="col">
    <p class="life-container">Your previous reviews</p>
  </div>
</div>
