

<div class="container color-dark">
  <div class="col">
    <p>Add a Player Review</p>
  </div>
  <div class="col">
    <p>Your Reviewed Players</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">

<form action="">
    <label for="find">Enter player id:</label>
      <input id="findHim" type="text"><button (click)="findPlayer()">Find player</button>
</form>

<div id="reviewsection">
    <p class="sm">Enter your player review(50 word max) for
           {{player.pName}}

    </p>
     <form>

      <textarea class="txtarea" id="pReview"> </textarea>
      <button type="submit" class="btn" (click)="addReview()">Submit Review</button>
      <!-- <input type="submit" class="btn" id="pReview" value="Submit Review for {{player.pName}}" (click)="addReview()"> -->
    </form>
  </div>
</div>
  <div class="col">
    <p class="life-container">Your previous reviews</p>
  </div>
</div>
