
<div >
  <h3>Welcome to the Ultimate Place</h3>

</div>

<div class="frontform">
    <h4>Users Login</h4>
<form (ngSubmit)="checkLogin()">
  <label for="username">User Name: </label><input type="text" id="username" name="uname" [(ngModel)]="theusername">
  <label for="password">Password</label><input type="text" id="password"name="pword" [(ngModel)]="thepassword">
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
<h5>Or, if you are uninitiated, sign up here:</h5>
<div class="frontform">
  <h4>Sign Up For Ultimate glory</h4>
    <form (ngSubmit)="signUp()">
      <label for="username">User Name: </label><input type="text" id="username">
      <label for="password">Password</label><input type="text" id="password">
      <button type="submit" class="btn btn-primary">Submit Details</button>
    </form>
    </div>






