
<div >
  <h3>Welcome to the Ultimate Place</h3>

</div>

<div class="frontforma">
    <h4>Users Login</h4>
<form (ngSubmit)="checkLogin()">
  <div class="sign1">
  <label for="username">User Name: </label>
  <input type="text" id="username" name="uname" [(ngModel)]="theusername">
  <label for="password">Password:</label>
  <input type="text" id="password"name="pword" [(ngModel)]="thepassword">
  <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
</div>


<h3>Or, if you are uninitiated, sign up below</h3>


<div class="frontformb">
  <h4>Sign Up For Ultimate glory</h4>
  <form (ngSubmit)="newSignUp()">
      <div class="sign2">
      <label for="newname">Enter your user name: </label>
      <input type="text" id="newname" name="newname" [(ngModel)]="anewname">
      <br>
      </div>
      <div class="sign2">
      <label for="newpassword">Choose a Password: </label>
      <input type="text" id="newpassword"name="newpword" [(ngModel)]="anewpassword">
      <br>
        </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>

      </form>
</div>







